body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.timer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}
.value {
  font-size: 2rem;
}
.label {
  font-size: 1rem;
}
.nav{
  display: flex;
  border: 3px solid black;
  flex-direction: column;
  padding: 20px 100px;
  margin: 20px;
}
.nav li{
  padding: 20px;
}